html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/градиент.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.flex-shrink-0 {
    flex-grow: 1; /* Растягивает контейнер на всё доступное пространство */
    padding-bottom: 70px; /* Отступ для подвала */
}

.jumbotron {
    background-color: #f8e8cc
    height: 100%;
}

.container {
    /*min-height: calc(100vh - 120px);*/ /* 100vh минус высота подвала и других элементов */
    height: 100%;

}

footer {
    background-color: #e6d389;
    color: #2f2a35;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar {
    background-color: #e6d389;
}

.navbar-nav {
    background-color: #e6d389;
}

.nav-item:hover {
    background-color: #914e56; /* Цвет фона при наведении */
}

.nav-link:hover {
    color: white !important; /* Цвет текста при наведении (если нужно) */
}