<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <h1 class="text-center text-dark mt-5">User profile</h1>
                    <div class='row mb-4 d-flex justify-content-around' th:object="${user}">
                        <h4 th:text="'Full Name: ' + *{fullName}"></h4>
                        <h4 th:text="'Username: ' + *{username}"></h4>
                        <h4 th:text="'Age: ' + *{age}"></h4>
                        <p></p>
                        <b>User Roles: </b>
                        <div sec:authentication="principal.authorities"></div>
                    </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>