<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">All Reports</h2>
                <div class='row mb-4 d-flex justify-content-center'>
                    <div th:if="${allReports != null && !#lists.isEmpty(allReports)}">
                        <div th:each="e : ${allReports}" class="d-flex flex-column bg-text mb-3 rounded">
                            <h3 th:text="'Theme: ' + *{e.theme}"></h3>
                            <h4 th:text="'Volume: ' + *{e.volume}"></h4>
                            <h4><a class="btn-block"
                                   th:href="@{/reports/report-by-theme/{report-theme}(report-theme=${e.theme})}">Detail info</a></h4>
                        </div>
                    </div>
                    <div th:if="${allReports == null || #lists.isEmpty(allReports)}">
                        <h4 class="text-center">No reports to show</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>