<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h1 class="text-center text-dark mt-5">Reporter Details</h1>
                <div class='row mb-4 d-flex justify-content-around'>
                    <h4 th:text="'Name: ' + ${reporterByName.reporterName}"></h4>
                    <h4 th:text="'Competence: ' + ${reporterByName.competence}"></h4>
                    <h4 th:text="'Organization: ' + ${reporterByName.organization}"></h4>
                    <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                        <a class="btn btn-danger align-bottom"
                           th:href="@{/reporters/reporter-delete/{reporter-by-name}(reporter-by-name=${reporterByName.reporterName})}">
                            Delete reporter
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>