<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h1 class="text-center text-dark mt-5">Report Details</h1>
                <div class='row mb-4 d-flex justify-content-around'>
                    <h4 th:text="'Theme: ' + ${reportByTheme.theme}"></h4>
                    <h4 th:text="'Volume: ' + ${reportByTheme.volume}"></h4>
                    <h4 th:text="'Reporter: ' + ${reportByTheme.reporter?.reporterName}"></h4>
                    <h4 th:text="'Conference: ' + ${reportByTheme.conference?.confName}"></h4>

                    <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                        <a class="btn btn-success align-bottom"
                           th:href="@{/reports/report-edit/{report-theme}(report-theme=${reportByTheme.theme})}">Edit report</a>
                        <a class="btn btn-danger align-bottom"
                           th:href="@{/reports/report-delete/{report-by-theme}(report-by-theme=${reportByTheme.theme})}">Delete report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>