<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Report Details</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6">
                        <h2>Report</h2>
                        <h4 th:text="'Theme: ' + ${reportByTheme.theme}"></h4>
                        <h4 th:text="'Volume: ' + ${reportByTheme.volume}"></h4>
                        <h4 th:text="'Reporter: ' + ${reportByTheme.reporter?.reporterName}"></h4>
                        <h4 th:text="'Conference: ' + ${reportByTheme.conference?.confName}"></h4>
                        <div class="align-bottom" sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                            <a class="btn btn-danger align-bottom"
                               th:href="@{/reports/report-delete{report-by-theme}(report-by-theme=${reportByTheme.theme})}">Delete report</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>